<article class="article">
    <header class="article__header">
        <div class="article__header-inner">
            <a href="{{ articleData.url }}" class="inline-link">
                <h2 class="article__heading heading--bravo">
                    {{ articleData.data.title }}
                </h2>
            </a>

            <time class="article__date" datetime="{{ convertPubdateForDatetimeAttr articleData.data.pubdate }}">
                {{ articleData.data.pubdate }}
            </time>

            {{!-- <ul v-if="articleData.tags" class="banner__meta-list" aria-label="Tags">
                <li v-for="(tag, index) in articleData.tags" :key="index" class="tag">
                    {{ tag }}
                </li>
            </ul> --}}
        </div>
    </header>

    <section class="article__content long-form-copy">
        <p>
            {{{ articleData.data.excerpt }}}
        </p>
    </section>
</article>
