<article class="article">
    <header class="article__header">
        <div class="article__header-inner">
            <h1>{{ articleData.data.title }}</h1>

            <time class="banner__date heading--echo heading--sans" datetime="{{ articleData.data.pubdate }}">{{{ articleData.data.pubdate }}}</time>

            {{!-- <ul v-if="articleData.tags" class="banner__meta-list" aria-label="Tags">
                <li v-for="(tag, index) in articleData.tags" :key="index" class="tag">
                    {{ tag }}
                </li>
            </ul> --}}
        </div>
    </header>

    <section class="article__content long-form-copy band">
        <p>
            {{{ articleData.data.excerpt }}}
        </p>
    </section>
</article>