<!doctype html>
<html>
	<head>
		<title>{{title}} - MyPage</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
<body>
	{{> header test=true}}

	<main>
		{{#each collections.posts}}
		<li>
			<a href="{{ this.url }}">
				{{ this.data.title }}
			</a>

			<ul>
				<li>{{ this.data.excerpt }}</li>
				<li>{{ this.date }}</li>
				<li>{{ this.data.pubdate }}</li>
				{{!-- <li>{{ this.data.tags }}</li> --}}
			</ul>
		</li>
		{{/each}}
	</main>
</body>
</html>
